/* body{

   
    background-image: url("https://e00-marca.uecdn.es/blogs/una-vida-al-filo/imagenes_posts/2018/07/07/194521_696x465.jpg") ;
    background-repeat: no-repeat;
    background-size: cover; 

}


h1:hover{
    text-align: center;
    color: blue;}
h1:hover{background-color: aquamarine;}

ul:hover{color: aquamarine;}
.color-aquamarine:hover {color: yellow;}

/* COMENTADO    
div:first-child{
    color: blue;
}
/* */ 
/* div:nth-child(2){
    color: red;} */ */ */

.caja {
    width: 100px;
    height: 300px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(194, 29, 0);
}

.seccion-caja{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: tomato;
}
.seccion-caja1{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: tomato;
    border-radius: 100%;    

}
.cuadrado{
    background-color: yellow;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 25px;
    padding: 45px;
    ;
}
.elemento{

width: 50px;
height: 50px;
background-color: tomato;
border: 1px solid black;
color: white;
display: flex;
align-items: center;
justify-content: center;

}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.boton {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

}